@use "src/styles/utils" as *;

.element {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0.8em;
    height: 0.5em;
    background-color: $colorBlack;
    transform: translateY(-50%);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

.selectBox {
  height: 40px;
  background: $colorGrey;
  padding: 0 em-size(16, 13);
  font-family: 'Inter Regular';
}