@use "src/styles/utils" as *;

.button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  background: none;
  overflow: visible;
  border: none;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba($colorBlack, 0);

  &:hover {
    text-decoration: none;
  }

  &[disabled] {
    cursor: default;
    pointer-events: none;
  }
}
