// Colors
$colorDugong: #707070;
$colorDarkGrey: #c8c8c8;
$colorGrey: #efefef;
$colorBlack: #000000;
$colorWhite: #ffffff;

// Fluid type
$minimumFluidTypeViewportWidth: 375px;
$maximumFluidTypeViewportWidth: 1280px;

// Media queries
@import '../../data/shared-variables/shared-variables.internal.json';